<div class="btn-group btn-breadcrumb" style="padding-bottom:10px">
      <a [routerLink]="['/dashboard']" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
      <a [routerLink]="['/report']" class="btn btn-primary">Report</a>
      <a href="javascript:void(0)" class="btn btn-primary active">Details</a>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <b class="panel-title">Expense Story Details</b>
    </div>    
    <div class="panel-body">
        <div style="margin-top:10px" *ngIf="expenseStorySummary">
        <div class="col-sm-2">
          <div class="panel panel-success" >
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-left">
                            <h3>${{expenseStorySummary.totalExpenses}}</h3>
                        </div>
                        <div class="col-xs-12">
                                <h5>Total Expenditure</h5>
                        </div>    
                    </div>
                </div>
            </div>
        </div>   
         <div class="col-sm-2">
            <div class="panel panel-danger" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-files-o fa-5x"></i>
                            </div>
                            <div class="col-xs-10 text-left">
                                <h3>{{expenseStorySummary.totalExpenseCount}}</h3>
                            </div>
                            <div class="col-xs-12">
                                <h5>Expenses #</h5>
                            </div>    
                        </div>
                    </div>
              </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-warning" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-left">
                                <h4>
                                    Start Date <br /> {{expenseStorySummary.expenseStory.startDt |date:"mediumDate"}}
                                </h4>
                            </div>
                             <div class="col-xs-12 text-left">
                                <h4>
                                    End Date <br /> {{expenseStorySummary.expenseStory.endDt |date:"mediumDate"}} 
                                </h4>
                            </div>
                            <div class="col-xs-12">
                                <h4>&nbsp;</h4>
                            </div> 
                        </div>
                    </div>
              </div>
        </div>          
    </div>
        <table class="table table-condensed table-striped col-sm-12" *ngFor="let ck of categoryKeys">
            <caption class="text-muted text-spacing">{{ck|uppercase}} ({{expensesByCategory[ck].length}})</caption>
            <thead>
                <tr>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-3">Category</th>
                    <th class="col-sm-2">Store</th>
                    <th class="col-sm-1">Amount</th>
                    <th class="col-sm-3">Comments</th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let es of expensesByCategory[ck]">
                    <td>
                     <div class="col-sm-1 date">{{es.expenseUtcDt|date:"MMM"}} 
                         <div class="number">{{es.expenseUtcDt|date:"dd"}}</div>
                     </div>
                    </td>
                    <td>
                        <i class="dashboard-item" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i>
                        <span class="dashboard-item">
                            <small class="text-bold text-muted">
                                {{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
                            </small>
                        </span>
                    </td>
                    <td>
                        <span class="dashboard-item">
                            <small class="text-bold text-muted">{{es.storeName}}</small>
                        </span>
                    </td>
                    <td>
                        <div>
                            <span class="dashboard-item">
                                <small class="text-bold text-muted">YOU PAID</small><br/> 
                                <span class="text-green text-bold">${{es.amount}}</span>
                            </span>
                        </div>
                    </td>
                    <td>
                         <div>
                             <span class="dashboard-item">
                                <small class="text-bold text-muted">{{es.comments}}</small>
                             </span>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="es.receiptThumbnail">
                            <span class="dashboard-item">
                                <a href="api/downloadReceipt/{{es.expenseStoryId}}/{{es.receiptId}}" download="receipt.jpg">
                                    <img src="data:image/png;base64,{{es.receiptThumbnail}}" height="60" width="60" alt="User Image" />
                                </a>
                            </span>
                        </div>
                    </td>
                    <td>
                         <div style="padding-top: 6px;cursor:pointer">
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-edit" style="cursor: pointer" ></i>
                                <i class="fa fa-trash-o text-red" style="cursor:pointer" 
                                    [deleteExpense]="es" (notify) = "onNotify($event)">
                                </i>
                            </span>
                         </div>
                    </td>    
                </tr>
                <tr>
                    <td colspan="7" style="text-align:right" > <span class="dashboard-item">Sub Total: $100</span></td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>