<modal [animation]="true" [keyboard]="true" [backdrop]="true" (onClose)="closed()" (onDismiss)="dismissed()"
         #modal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">
                New Expense
             </h4>   
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i [ngClass]="categoryIcon"></i>
                    </span>
                    <ng-select [allowClear]="true" #categorySelect *ngIf="selectedCategory"
                    [initData] = "[selectedCategory]"
                    [items]="items"
                    (selected)="selected($event)"
                    placeholder="Please select a category">
                    </ng-select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"> &nbsp;</i></span>
                    <input type="text" class="form-control" [(ngModel)] ="expense.amount" placeholder="Amount" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-shopping-bag"></i></span>
                    <input type="text" class="form-control" [(ngModel)] = "expense.storeName" placeholder="Store Name" />
                </div>
            </div>
            <div class="form-group">
                <span>
                    <date-picker [(ngModel)]="expense.expenseUtcDt"></date-picker>
                </span>
            </div>
            <div class="form-group">
                <span class="btn btn-success btn-file btn-sm" name="file"> 
                    <input type="file" (change)="onChange($event)" value="Add Receipt"/>
                </span>
                <!--<div class="thumbnail" *ngIf="previewImageUrl">
                    <img [src] ='previewImageUrl' alt="" height="200" width="150" />
                </div>-->
            </div>
            
            <div class="form-group">
                <textarea class="form-control" rows="2" [(ngModel)]="expense.comments" placeholder="additional comments"> </textarea>
            </div>
            <dt-alert [malert]="dtAlert"></dt-alert>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
            <span class="pull-right">
                <button class="btn btn-warning" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary" (click)="submit()">
                   <span *ngIf="!isEdit"> Add </span>
                   <span *ngIf="isEdit"> Update </span>
                </button>
            </span>   
        </modal-footer>
    </modal>